.container {
  display: flex;
  justify-content: space-between;
}
.item1 {
  width: 50%;
  padding-bottom: 50%;
  padding-top: 5%;
  text-align: center;
}
.item2 {
  background-color: yellow;
  width: 50%;
  padding-bottom: 50%;
  padding-top: 25%;
  text-align: center;
}
.gif {
  width: 500px;
  height: 500px;
  border: none;
}
.faceid {
  padding-left: 67px;
  padding-right: 67px;
}
